<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <p>Logged in as: {{ username }} ({{ email }})</p>

    <h3>Select an activity to continue.</h3>

    <ul>
        <li><a href="{{ url_for('pull_household_10', username=username, email=email) }}">View Sample Data from Household #10</a></li>
	<li>Add more menu items as needed!</li>
    </ul>
</body>
</html>

