<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Households and Transactions Data</title>
</head>
<body>
    <h1>Household #10</h1>
    <p>The following is a sample pull for Household #10, describing their shopping from 2018-2020.</p>

    <table border="1">
        <thead>
            <tr>
                <th>Hshd_num</th>
                <th>Basket_num</th>
                <th>Purchase_date</th>
                <th>Product_num</th>
                <th>Department</th>
                <th>Commodity</th>
                <th>Brand_ty</th>
                <th>Natural_organic_flag</th>
                <th>Spend</th>
                <th>Units</th>
                <th>Store_r</th>
                <th>Week_num</th>
                <th>Year</th>
                <th>Loyalty</th>
                <th>Age_range</th>
                <th>Marital</th>
                <th>Income_range</th>
                <th>Homeowner</th>
                <th>Hshd_composition</th>
                <th>HH_size</th>
                <th>Children</th>
            </tr>
        </thead>
        <tbody>
            {% for household in households %}
            <tr>
                <td>{{ household[0] }}</td>
                <td>{{ household[1] }}</td>
                <td>{{ household[2] }}</td>
                <td>{{ household[3] }}</td>
                <td>{{ household[4] }}</td>
                <td>{{ household[5] }}</td>
                <td>{{ household[6] }}</td>
                <td>{{ household[7] }}</td>
                <td>{{ household[8] }}</td>
                <td>{{ household[9] }}</td>
                <td>{{ household[10] }}</td>
                <td>{{ household[11] }}</td>
                <td>{{ household[12] }}</td>
                <td>{{ household[13] }}</td>
                <td>{{ household[14] }}</td>
                <td>{{ household[15] }}</td>
                <td>{{ household[16] }}</td>
                <td>{{ household[17] }}</td>
		<td>{{ household[18] }}</td>
		<td>{{ household[19] }}</td>
		<td>{{ household[20] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

